/* Wrapper for the SignIn form */
.signin-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fefcf6;
}

/* SignIn Card */
.signin-card {
  width: 100%;
  max-width: 60%;
  padding: 40px;
  border-radius: 10px;

  text-align: left;
  margin-bottom: 100px;
}

/* Header */
.signin-header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  text-align: left;
}

/* SignIn Form */
.signin-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

/* Input Wrappers */
.signin-input-wrapper {
  width: 100%;
}

.signin-label {
  font-size: 14px;
  color: #333;
  font-weight: 100;
}

.signin-input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  margin-top: 20px;
  font-size: 12px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-sizing: border-box;
}

.signin-input:focus {
  outline: none;
}

/* Error Message */
.signin-error-message {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* Button */
.signin-button {
  width: 100%;
  padding: 14px;
  background-color: #5e6c5b;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signin-button:disabled {
  background-color: #808080;
}

.signin-button:hover {
  background-color: #4a5e47;
}

/* Google Login */
.signin-google-login {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* OR Divider */
.signin-or-divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  color: #808080;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.signin-or-divider::before,
.signin-or-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.signin-or-divider span {
  margin: 0 10px;
}

/* Register Link */
.signin-register-link {
  margin-top: 20px;
  text-align: center;
}

.signin-register-link-text {
  color: #5e6c5b;
  text-decoration: none;
  font-weight: bold;
}

.signin-register-link-text:hover {
  text-decoration: underline;
}
