.header {
  background-color: #f4efe6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  font-family: "Arial", sans-serif;
  position: relative;
  z-index: 1;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5e6c5b;
}

.nav-links {
  display: flex; /* Always visible by default on larger screens */
  flex-direction: row; /* Horizontal layout for larger screens */
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #5e6c5b;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #49886d;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #5e6c5b;
}

@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f4efe6;
    padding: 2rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    z-index: 0;
  }

  .nav-links.open {
    transform: scaleY(1);
    border-top: 1px solid #d3d3d3;
  }

  .menu-toggle {
    display: block;
  }
}

.footer {
  background-color: #f4efe6;
  padding: 1rem 2rem;
  text-align: center;
  color: #5e6c5b;
  font-family: "Arial", sans-serif;
}

.footer-links {
  margin-bottom: 0.5rem;
}

.footer-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: #5e6c5b;
}

.footer-info {
  font-size: 0.9rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fefcf6;
  font-family: "Arial", sans-serif;
  color: #5e6c5b;
}

h2 {
  border-bottom: 2px solid #5e6c5b;
  display: inline-block;
  margin-bottom: 1rem;
}

button {
  background-color: #5e6c5b;
  color: #fefcf6;
  border: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

button:hover {
  opacity: 0.9;
}

/*SERVICE */

.container {
  padding: 20px;
}

.add-service {
  text-align: center;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #f4efe6;
  padding: 20px;
  border-radius: 10px;
  height: 13rem;
  text-align: center;
}

.card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9em;
  color: #666;
  margin: 10px 0;
}

.card button {
  background-color: #555;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;

}
